@model MusicService.Models.Post
@using MusicService.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["statuses"] = new List<MvcFileUploader.Models.ViewDataUploadFileResult>();

    
}


<style type="text/css">
    #dropZone {
        background: gray;
        border: black dashed 3px;
        width: auto;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>

<script type="text/javascript" src="/Scripts/binaryajax.js" ></script>
<script type="text/javascript" src="/Scripts/id3.js" ></script>



<h2>Create</h2>


<div class="editor-label">
            @Html.Label("Название")
        </div>
        <div class="editor-field">
            @Html.TextBox("Name")
        </div>

        <div class="editor-label">
            @Html.Label("Исполнитель")
        </div>
        <div class="editor-field">
            @Html.Editor("Artist")
            @Html.ValidationMessage("Track")
        </div>

        <div class="editor-label">
            @Html.Label("Альбом")
        </div>
        <div class="editor-field">
            @Html.Editor("Album")
        </div>

    @Html.ValidationSummary(true)
<script type="text/javascript">

    function mycallback() {
        // either call the ID3.getAllTags([file]) function which returns an object holding all the tags
        alert(
         "All tags in this file: " + ID3.getAllTags("http://localhost:64083/015-marilyn_manson-15-130080392158859088.mp3").toSource()
        );

        var TheTextBox = document.getElementById("Artist")
        TheTextBox.value += ID3.getAllTags("http://localhost:64083/015-marilyn_manson-15-130080392158859088.mp3").toSource()
        // or call ID3.getTag([file], [tag]) to get a specific tag
    }
    ID3.loadTags("015-marilyn_manson-15-130080392158859088.mp3", mycallback);
    
</script>
        <legend>Post</legend>

        <!-- file upload modal dialog -->
        <div class="modal hide" id="dlgFileUpload" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-body"></div>
        </div>

        <div class="well">
            <legend>Upload Inline</legend>        
            @Html.Partial("_MvcFileupload", new MvcFileUploader.Models.FileUploadConfig() { FileTypes = @"/(\.|\/)(mp3|flac)$/i", MaxFileSizeInBytes = 50000000, UploadUrl = Url.Action("UploadFile", "MvcUploaderTest") })
            <div id="dropZone">Drop your files here</div>
        </div>
    @using (Html.BeginForm("Create", "Post", FormMethod.Post))
    {
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Message, new { style = "width: 70%;height: 100px;" })
            @Html.ValidationMessageFor(model => model.Message)
        </div>
        
        <input type="submit" value="Post" />
        
        
    </fieldset>
    }
    
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
