@model MusicService.Models.Track

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Track</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Album)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Album)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Artist)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Artist)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FileName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TrackId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
